<header class="header">

  <div class="overlay">

    <div class="container">

      <h1 class="title">
        <a href="{{ site.baseurl }}/">{{ site.title }}&#39; Blog List</a> 
      </h1>

      <nav class="navbar">
        <a href="#" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
        {% for page in site.pages %}
            {% if page.title and page.title != 'Home' %}
               {% if page.title and page.title != 404 %}<!--防止404网页显示在导航栏-->
                 <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
               {% endif %}
            {% endif %}
          {% endfor %}
           
          <li><a href="{{ site.github }}" target="_blank">Github</a></li>
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
      <h2 class="txt-center">
        Welcome to <strong>{{ site.title }}</strong>!
      </h2>
    {% endif %}

  </div>

</header>
