<article class="post card container">
  <header class="post-header">
    <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
    <span class="post-meta">
      <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      <span class="post-author">by {{ site.author.name }}</span>
    </span>
  </header>
  <div class="post-content">
    {{ post.content | strip_html | truncatewords: 30 }} <a href="{{ post.url | prepend: site.baseurl }}" class="readmore">Read more &raquo;</a>
  </div>
  
<!--Html for languagetool -->
<form name="checkform" action="http://community.languagetool.org" method="post">
 
  <p id="checktextpara">
      <textarea id="checktext" name="text" style="width: 100%"
        rows="6">Paste your own text here... or check check this text.</textarea>
  </p>
 
  <div>
      <select name="lang" id="lang">
          <option value="en-US">English</option>
          <option value="de-DE">German</option>
          <option value="it">Italian</option>
      </select>
      <input type="submit" name="_action_checkText"
          value="Check Text" onClick="doit();return false;">
      <div id="feedbackErrorMessage" style="color: red;"></div>
  </div>
 
</form>
</article>
