<div class="social-icons">
  <ul class="text-left">
    <li><a href="{{ site.author.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="{{ site.author.weibo }}" target="_blank"><i class="fa fa-weibo"></i></a></li>
    <li><a href="mailto:{{ site.author.email }}" title="Email me">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a></li>
  </ul>
</div>
