/**
* Syntax highlighting styles
*/
.highlight {
  padding: 0;
  margin: {
    top: 10px;
    bottom: 25px;
  };
/*把表格背景墙改为#F7F7F7 再改为#AAB2BD*/
  &, .hll, pre {
    background-color: #EBEBEB;
    border: none;
  }

  pre {
    margin: 0;
    padding: 15px 20px;
    white-space: pre;
    line-height: 23px;
    overflow-x: auto;
    // margin-bottom: 30px;
    font-size: .8em;
    word-break: inherit;
    word-wrap: inherit;

    &, code {
      color: #eeffdd;
    }

    code {
      white-space: pre;

      * {
        white-space: nowrap; // this sets all children inside to nowrap
      }
    }
  }

  code {
    background-color: transparent;
  }

  .c { color: #75715e } /* Comment */
  .err { color: #960050; background-color: #1e0010 } /* Error */
  .k { color: #a71d5d } /* Keyword */
  .l { color: #0086B3 } /* Literal */
  .n { color: #f8f8f2 } /* Name */
  .o { color: #a71d5d } /* Operator #a71d5d*/
  .p { color: #000000 } /* Punctuation f8f8f2 */
  .cm { color: #75715e } /* Comment.Multiline */
  .cp { color: #75715e } /* Comment.Preproc */
  .c1 { color: #75715e } /* Comment.Single */
  .cs { color: #75715e } /* Comment.Special */
  .ge { font-style: italic } /* Generic.Emph */
  .gs { font-weight: bold } /* Generic.Strong */
  .kc { color: #a71d5d } /* Keyword.Constant */
  .kd { color: #a71d5d } /* Keyword.Declaration */
  .kn { color: #a71d5d } /* Keyword.Namespace */
  .kp { color: #a71d5d } /* Keyword.Pseudo */
  .kr { color: #a71d5d } /* Keyword.Reserved */
  .kt { color: #a71d5d } /* Keyword.Type */
  .ld { color: #e6db74 } /* Literal.Date */
  .m { color: #0086B3 } /* Literal.Number */
  .s { color: #e6db74 } /* Literal.String */
  .na { color: #33599c } /* Name.Attribute */
  .nb { color: #f8f8f2 } /* Name.Builtin  f8f8f2 */
  .nc { color: #33599c } /* Name.Class */
  .no { color: #a71d5d } /* Name.Constant */
  .nd { color: #33599c } /* Name.Decorator */
  .ni { color: #f8f8f2 } /* Name.Entity f8f8f2*/
  .ne { color: #33599c } /* Name.Exception */
  .nf { color: #33599c } /* Name.Function */
  .nl { color: #f8f8f2 } /* Name.Label f8f8f2*/
  .nn { color: #f8f8f2 } /* Name.Namespace f8f8f2*/
  .nx { color: #33599c } /* Name.Other */
  .py { color: #f8f8f2 } /* Name.Property f8f8f2*/
  .nt { color: #a71d5d } /* Name.Tag */
  .nv { color: #f8f8f2 } /* Name.Variable f8f8f2*/
  .ow { color: #a71d5d } /* Operator.Word */
  .w { color: #f8f8f2 } /* Text.Whitespace f8f8f2*/
  .mf { color: #0086B3 } /* Literal.Number.Float */
  .mh { color: #0086B3 } /* Literal.Number.Hex */
  .mi { color: #0086B3 } /* Literal.Number.Integer */
  .mo { color: #0086B3 } /* Literal.Number.Oct */
  .sb { color: #e6db74 } /* Literal.String.Backtick */
  .sc { color: #e6db74 } /* Literal.String.Char */
  .sd { color: #e6db74 } /* Literal.String.Doc */
  .s2 { color: #e6db74 } /* Literal.String.Double */
  .se { color: #0086B3 } /* Literal.String.Escape */
  .sh { color: #e6db74 } /* Literal.String.Heredoc */
  .si { color: #e6db74 } /* Literal.String.Interpol */
  .sx { color: #e6db74 } /* Literal.String.Other */
  .sr { color: #e6db74 } /* Literal.String.Regex */
  .s1 { color: #e6db74 } /* Literal.String.Single */
  .ss { color: #e6db74 } /* Literal.String.Symbol */
  .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo f8f8f2*/
  .vc { color: #f8f8f2 } /* Name.Variable.Class f8f8f2*/
  .vg { color: #f8f8f2 } /* Name.Variable.Global f8f8f2*/
  .vi { color: #f8f8f2 } /* Name.Variable.Instance f8f8f2*/
  .il { color: #0086B3 } /* Literal.Number.Integer.Long */

  .gh { } /* Generic Heading & Diff Header */
  .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
  .gd { color: #a71d5d; } /* Generic.Deleted & Diff Deleted */
  .gi { color: #33599c; } /* Generic.Inserted & Diff Inserted */
}
