---
layout: default
slug: single
---
<head>
	<!--增加回到顶部模块-->
             <script src="js/jquery.1.11.0.min.js"></script>

		<!-- scroll2Top version 1.0 -->
		<script src="js/jquery.scroll2Top.min.js"></script>

		<!-- Demo CSS -->
		<link href="css/demo.css" media="all" rel="stylesheet" />

		<!-- scroll2Top CSS -->
		<style>
			#to_the_top {
				display: none;
				position: fixed;
				cursor: pointer;
				/* modify below css to your needs */
				background: url('images/top.png') no-repeat left top;
				width: 60px;
				height: 60px;
				top: 240px;
				right: 50px;
			}
		</style>

		<!-- scroll2Top JS -->
		<script>
			$(function() {
				// default configuration
				$("#to_the_top").scroll2Top();
			});
		</script>
	</head>

<article class="post container card">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-meta">
      <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      <span class="post-author">by {{ site.author.name }}</span>
    </span>
  </header>

  <div class="post-content">

    {{ content }}

    <aside class="share">

      <span>Share this: </span>

      <a href="http://twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{ page.url }}&amp;hashtags=web,dev,blog,soudev&amp;via=nandomoreirame"
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <i class="fa fa-twitter-square"></i>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
      onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <i class="fa fa-facebook-square"></i>
      </a>

    </aside>

    {% include comments.html %}
    <pre>
    	<body>
    <!--在评论区调用回到顶部插件-->
    $("#to_the_top").scroll2Top({
	appearAt: 650,
	scrollSpeed: 200
});</pre></body>
    

  </div>
  <div id="to_the_top"></div>
</article>
